:root{
  --cor-primaria: #000000;
  --cor-background: white;
  --filter: invert(15%) sepia(31%) saturate(1173%) hue-rotate(150deg) brightness(91%) contrast(85%);
}

.dark-mode {
  --cor-primaria: rgb(233, 233, 233);
  --cor-background: #222222;
  --filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(280deg) brightness(105%) contrast(101%);
}

.page{
  background-color: rgb(83, 83, 83);
  min-height: 100vh;
  max-width: 100vw !important;
  font-family: 'Roboto', sans-serif;
  color: var(--cor-primaria);
  transition: background-color 1.2s ease, color 1.2s ease;
}

.inner-page{
  background-color: var(--cor-background);
  min-height: 100vh;
  width: 785px;
}

.btn-custom{
  background-color: #173945 !important;
  border: #173945 !important;
  width: 140px;
  box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.4);
}

.p-lado-esquerdo{
  color: white;
  font-weight: 500;
  border: 2px solid black;
  width: 230px;
}

h1{
  font-weight: 900;
  text-shadow: 1px 1px 2px var(--cor-primaria);
}

h2{
  font-size: 1.0rem !important;
  letter-spacing: 3.5px !important;
  font-weight: 550 !important;
}

h3{
  font-size: 1.15rem !important;
  font-weight: 1000 !important;
}

hr{
  border: 1px solid var(--cor-primaria) !important;
  opacity: 1 !important;
  width: 96%;
  margin-top: -6px !important;
}

p,
li{
  font-size: 0.85rem;
  font-weight: 400;
}

strong{
  font-weight: 700 !important;
}

a{
  transition: color 1.2s ease;
}

.letra-cinza{
  color: #8491a0;
}

.sem-bolinha{
  list-style-type: none;
}

.custom-link{
  text-decoration: none;
  color: var(--cor-primaria);
}

.img-svg{
  margin-right: 6px;
  width: 45px;
  filter: var(--filter);
}

/* Parte do 'botão' dark mode  */
.input {
  visibility: hidden;
}

.label {
  background-color: white;
  height: 30px;
  width: 60px;
  position: absolute;
  border-radius: 20px;
  cursor: pointer;
}

.circulo {
  width: 26px;
  height: 26px;
  background-color: black;
  position: absolute;
  top: 2px;
  left: 3px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,.3);
  animation: toggleOff 1s ease forwards;
}

.input:checked + .label {
  background-color: black;
}

.input:checked + .label .circulo {
 background-color: white;
 animation: toggleOn 1s ease forwards;
}

@keyframes toggleOn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(30px);
  }
}
@keyframes toggleOff {
  0% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
  }
}